/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --turquoise: #35d6dc;
    --ashen: #89a5a6;
    --light: #e0f1f2;
    --dark: #082222;
    --bg: linear-gradient(135deg, var(--turquoise) 0%, #4caf50 100%);


    --fs-h1: clamp(1.9rem, 2vw, 4rem);
    --fs-h2: clamp(1.4rem, 2vw, 3rem);
    --fs-p: clamp(1.2rem, 1.2vw, 2rem);

    --ff-p: "Roboto", sans-serif;
    --ff-t: "Roboto Condensed", sans-serif;
}

body {
    font-family: var(--ff-p);
    background: var(--dark);
    color:var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

.container{
    width:100%;
    max-width:420px;
    background: var(--bg);
    padding:1.25rem;
    border-radius:12px;
    box-shadow: 0 8px 30px rgb(164 243 224 / 27%);
}

h1{text-align:center;margin-bottom: .8rem;font-size: calc(var(--fs-h1) * 1.2);font-family: var(--ff-t);text-transform: uppercase;letter-spacing: .5px;font-weight: 400;}

form{display:flex;gap:.5rem;margin-bottom:0.75rem}
input[type="text"]{
    flex:1;
    padding:.6rem .75rem;
    border-radius:8px;
    border: 1px solid var(--dark);
    background: var(--light);
    color: var(--dark);
    outline:none;
}
button{
    padding:.55rem .8rem;
    border-radius:8px;
    border:none;
    background: var(--light);
    color: var(--dark);
    font-weight:600;
    cursor:pointer;
}

#message{min-height:1.2rem;margin-bottom:.6rem;font-size:.95rem;color:#ffd9a8;}

.weather{display:flex;flex-direction:column;align-items:center;gap:.4rem;padding:.6rem;border-radius:10px}
.hidden{display:none}

.city{font-weight:700;font-size:1rem;}
.temp{font-size:2rem;font-weight:800;}
.desc{text-transform:capitalize;font-size:.95rem;opacity:.9;}
.icon{width:100px;height:100px;object-fit:contain}
.meta{font-size:.85rem;color: var(--turquoise);opacity:.85}